@charset "UTF-8";

#search {
  width: 100%;
  max-width: 400px;
}

#search form {
  display: flex;
  width: 100%;
  background-color: #222;
  padding: 0 0 0 20px;
  border-radius: 15px;
}

#search form input {
  flex: 1;
}

#search form button {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

#search form button img {
  opacity: 0.4;
  width: 22px;
}